.content {
    height: 100%;
    background-color: #AED6F1;
    padding: 16px;
}

.header {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 24px;
}

.section {
    display: flex;
    margin-top: 24px;
}

.subsection {
    flex: 1
}
